* {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  min-height: auto;
}

body {
  min-height: 100vh;
}


.a {
    visibility: visible;
  }

  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
      font-family: monospace;
      font-weight: 600;
    background-color: rgb(138, 138, 138);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  #bottom-text {
    font-size: 1rem;
    font-weight: 10;
    text-align: center;
    width: 100%;
  }
  
  
* {
    margin: 0;
    box-sizing: border-box;
  }
canvas {
    width: 40vmin;
    border: 10px solid cornflowerblue;
  }
  main{
    border: 5px;
  }
  #jokes{
    box-sizing: border-box;
  }
